<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> ~ forOM ~ </title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
<div class="pure-g"><div class="pure-u">

  <header>
    <h1> <a href="/"><button class="pure-button pure-button-primary">forOM</button></a> </h1>
  </header>

  <% var parent = blinks[0].parent_id; %>

  <form class="pure-form" method="POST" action="/blinks/<%=parent%>/winks">
    <input name="title" type="text" placeholder="wink back!">
    <input name="author" type="text" placeholder="username">
    <button type="submit" class="pure-button pure-button-primary">blink!</button>
  </form>

  <a href="/popular/<%=parent%>">
    <button class="pure-button options"> Show most popular </button>
  </a>

  <a href="/blinks/<%=parent%>">
    <button class="pure-button options"> Show most recent </button>
  </a>

  <a href="/back/<%=parent%>">
    <button class="pure-button options"> Go back </button>
  </a>

  <% blinks.forEach(function(blink){ %>
    <article class="blink">
      <a href="/blinks/<%=blink.id%>/<%=blink.nods%>/<%=blink.parent_id%>">
        <button class="pure-button pure-button-primary nods"> <%= blink.nods %> nods </button>
      </a>
      <%= blink.title %> by 
      <%= blink.author %>
      <a href="/blinks/<%=blink.id%>"> <button class="pure-button pure-button-primary winks"> <%= blink.winks %> wink<%= blink.winks === 1 ? '' : 's' %>... </button> </a>
    </article>
  <% }); %>

</div></div>
</body>
</html>