<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> ~ forOM ~ </title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="container"> <!-- Is it bad form to classify the body? -->

  <header>
    <h1> Lately at the <a href="/"><button>forOM</button></a> </h1>
    <h3> For Liberty and Truth! </h3>
  </header>

  <form method="POST" action="/blinks/<%=blinks[0].parent_id%>/winks">
    <input name="title" type="text" placeholder="wink back!">
    <input name="author" type="text" placeholder="username">
    <input type="submit">
  </form>

  <% blinks.forEach(function(blink){ %>
    <article class="blink">
      <a href="/blinks/<%=blink.id%>/<%=blink.nods%>/<%=blink.parent_id%>">
        <button class="nods"> <%= blink.nods %> </button>
      </a>
      <a href="/blinks/<%=blink.id%>"> <%= blink.title %> </a> by 
      <a href="/users/<%=blink.author.replace(/ /g, '_')%>"> <%= blink.author %> </a> with 
      <a href="/blinks/<%=blink.id%>"> <%= blink.winks %> wink<%= blink.winks === 1 ? '' : 's' %>... </a>
    </article>
  <% }); %>

</body>
<script src="/script.js"></script>
</html>