<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> ~ forOM ~ <%= comments[0].title %> </title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="container"> <!-- Is it bad form to classify the body? -->

  <header>
    <h1> Lately at the <button>forOM</button> </h1>
    <h5> <%= comments[0].title %> </h5>
  </header>

  <form method="POST" action="/topics/<%=id%>/comments">
    <input name="comment" type="text" placeholder="New comment...">
    <input name="author" type="text" placeholder="Username...">
    <input type="submit">
  </form>

  <% comments.forEach(function(comment){ %>
    <article class="comment">
      <button class="approval" href="/approval/<%=comment.id%>"> <%= comment.approval %> </button>
      <a href="/topics/<%=comment.id%>"> <%= comment.title %> </a> by 
      <a href="/users/<%=comment.author%>"> <%= comment.author %> </a> with 
      <a href="/topics/<%=comment.id%>"> <%= comment.comments %> sub-comments... </a>
    </article>
  <% }); %>

</body>
<script src="/script.js"></script>
</html>