body {
  margin: auto;
  text-align: center;
  max-width: 960px;
  font-family: Garamond;
  font-size: 20px;
}

header {
  margin: 3em;
}

h1 {
  font-size: 6em;
}

form {
  margin: 1em;
}

.pure-button-primary {
  border-radius: 0.25em;
}

.nods {
  float: left;
  position: relative;
  top: -0.5em;
}

.winks {
  float: right;
  position: relative;
  top: -0.5em;
}

article {
  margin: 1em;
  padding: 1em;
  background-color: #abefab;
  border-radius: 0.5em;
}

a {
  text-decoration: none;
}